:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --nav-after: #1d2739;
  --dark-grey: #293449;
  --nav-blue: #32425c;
  --darker-grey: #a9a9a9;
  --basic-greylight: #c5c5c5;
  --light-grey: #f2f6f8;
  --basic-background: #f1f5f7;
  --white: #ffffff;
  --border: #eaeaea;
  --popup-bg: #f4f4f4;
  --border-second: #e5e5e5;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --yellow-grey: #f9f5f0;
  --background-filter: #f7f3ec;
  --success: #5fbb2d;
  --buy-active: #518534;
  --warning: #ffbf47;
  --error: #ba2732;
  --hover-btn: #ca2c37;
  --greylight: #eaeaea;
  --dark-blue: #212a3a;
  --black: #000000;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans/ptsans.woff2") format("woff2"),
    url("fonts/ptsans/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans bold";
  src: url("../fonts/ptsans/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsans/ptsansbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum/cuprum.woff") format("woff");
}
@font-face {
  font-family: "Cuprum bold";
  font-weight: 600;
  src: url("../fonts/cuprum/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprum/cuprumbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum italic";
  src: url("../fonts/cuprum/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprum/cuprumbolditalic.woff") format("woff");
}
@font-face {
  font-family: "Cuprum italic bold";
  font-weight: 600;
  src: url("../fonts/cuprum/cuprumitalicbold.woff2") format("woff2"),
    url("../fonts/cuprum/cuprumitalic.woff") format("woff");
}
body {
  min-width: 960px;
  /* min-width Для того что бы при уменьшении окна не сжимался контент */
  font-family: "PT Sans", "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
  position: relative;
}
a {
  text-decoration: none;
}
img {
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  text-align: center;
  background-color: var(--basic-red);
}
.btn:hover {
  background-color: var(--hover-btn);
}
.btn:active {
  background-color: var(--error);
}
.btn-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0px;
  color: var(--white);
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
}

/* Шапка сайта */

.header {
  padding-bottom: 41px;
  background-color: var(--basic-background);
}
.header-top {
  background-color: var(--dark-grey);
}
.header-top-container {
  display: flex;
  width: 940px;
  margin: auto;
}
.logo-container {
  background-color: var(--basic-red);
  width: 220px;
  max-height: 42px;
  margin-right: 35px;
  position: relative;
}
.logo-container img {
  position: absolute;
  top: 12px;
  left: 55px;
}
.logo-container:hover {
  transition: 0.3s;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.logo-container:active {
  background-color: var(--error);
}
.logo-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 100%;
  left: 0;
  display: block;
  background-color: var(--error);
}

/* Поиск */

.header-search {
  height: 42px;
  margin-right: 20px;
  margin-left: 2px;
  position: relative;
  border: 0;
}
.header-search button {
  width: 40px;
  height: 42px;
  top: 0;
  left: -37px;
  border: 0;
  fill: rgba(255, 255, 255, 0.3);
  position: absolute;
  background-color: var(--dark-grey);
}
.header-search svg {
  position: absolute;
  top: 12px;
  left: 17px;
}
.header-search button:hover {
  fill: rgba(255, 255, 255, 1);
}
.header-search input {
  width: auto;
  margin-left: 3px;
  display: block;
  border: none;
  height: 42px;
  background-color: var(--dark-grey);
  color: var(--black);
}
.header-search input:focus {
  background-color: var(--white);
}
.header-search input:hover + button {
  fill: var(--white);
}
.header-search input:focus + button {
  background-color: var(--white);
  fill: rgb(255, 0, 0);
}

.header-search input::-webkit-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--white);
}
.header-search input::-moz-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--white);
}

/*  */

.header-actions-container {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
}
.header-actions-container a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 42px;
  color: var(--white);
  position: relative;
}
.bookmarks {
  padding: 0 39px;
}
.bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;
  opacity: 0.3;
  position: absolute;
  top: 13px;
  left: 17px;
  background-image: url("../img/icon-bookmark.svg");
}
.bookmarks:hover::before {
  opacity: 1;
}
.bookmarks:active::before,
.bookmarks:active {
  opacity: 0.3;
}
.basked {
  padding: 0 26px;
  padding-left: 35px;
}
.basked-red {
  max-width: 136px;
  padding: 0 22px;
  padding-left: 35px;
  background-color: var(--basic-red);
}
.basked-red::before,
.basked::before {
  content: "";
  width: 15px;
  height: 15px;
  top: 14px;
  left: 13px;
  position: absolute;
  opacity: 0.3;
  background-image: url("../img/icon-cart.svg");
}
.basked-red:hover::before,
.basked:hover::before {
  opacity: 1;
}
.basked:active::before,
.basked:active,
.basked-red:active::before,
.basked-red:active {
  opacity: 0.3;
}
.checkout {
  line-height: 42px;
  padding: 0 18px;
  background-color: var(--basic-green);
}
.checkout:hover {
  background-color: var(--success);
}
.checkout:active {
  opacity: 0.3;
}

.account-user-container {
  margin-top: 47px;
  position: relative;
  margin-left: 48px;
}
.user-name-container {
 
  padding: 10px 17px;
  background-color: var(--white);
}
.user-name-container svg {
  fill: var(--basic-greylight);
}
.user-name-container svg:hover {
  fill: var(--basic-grey);
}
.user-name:active,
.user-name-container svg:active {
  opacity: 0.3;
}
.user-name {
  margin: 10px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--black);
}
.links-container {
  padding: 3px 30px;
}
.personal-link {
  padding: 0 14px;
  color: var(--black);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}
.personal-link:first-child::after  {
  content: "";
  position: absolute;
  top: 7px;
  right:  -6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--black);
}
.personal-link:hover {
  color: var(--basic-red);
}
.personal-link:active {
  color: var(--black);
  opacity: 0.3;
}
.header-bottom {
  max-width: 940px;
  margin: auto;
  display: flex;
  margin-bottom: 36px;
}
.index-main {
  margin-bottom: 69px;
}
.main-header {
  margin-bottom: 41px;
}
.header-contacts {
  margin-top: 45px;
  margin-left: 90px;
  text-align: center;
  position: relative;
}
.info-text-header {
  margin-top: 44px;
  margin-left: 29px;
  min-width: 200px;
  font-family: "Cuprum italic", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 24px;
  color: var(--basic-red);
}
.header-phone-container {
  width: 267px;
  position: relative;
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 23px;
  line-height: 40px;
  color: var(--basic-red);
  border: 3px solid var(--white);
}
.header-phone-container a {
  margin-left: 30px;
  letter-spacing: -0.8px;
  color: var(--basic-red);
}
.header-phone::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 38px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
}
.header-address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.buttons-container {
  display: flex;
  align-items: flex-start;
  margin-top: 46px;
  margin-left: 67px;
}
.sing-in-link {
  font-family: "Cuprum bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  position: relative;
  margin-right: 10px;
  padding: 12px 26px;
  padding-left: 44px;
  background-color: var(--white);
  position: relative;
  fill: var(--basic-greylight);
}
.sing-in-link svg {
  position: absolute;
  top: 15px;
  left: 19px;
}
.sing-in-link:hover,
.sing-in-link:hover + svg {
  color: var(--basic-red);
  fill: var(--basic-grey);
}
.sing-in-link:active,
.sing-in-link:active + svg {
  opacity: 0.3;
  color: var(--black);
}
.registration-link {
  padding: 12px 24px;
  text-align: center;
  background-color: var(--white);
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}
.registration-link:hover {
  color: var(--basic-red);
}
.registration-link:active {
  opacity: 0.3;
  color: var(--black);
}

/* Навигация */

.header-nav {
  margin: 0 auto;
  width: 940px;
  position: relative;
}
.nav-list {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 5px solid var(--nav-after);
  background-color: var(--nav-blue);
}
.header-nav-item {
  text-align: center;
}
.header-nav-link {
  display: block;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--white);
  padding: 17px 26px 15px 31px;
}
.header-nav-link:hover {
  background-color: var(--dark-grey);
}
.header-nav-link:active {
  color: var(--basic-greylight);
}

/*  Содержание страницы  */

.main-nav-catalog {
  width: 940px;
  margin: auto;
  margin-top: 59px;
}
.top-main-nav {
  display: flex;
  justify-content: space-between;
}
.new {
  overflow: hidden;
}
.new::after {
  content: "new";
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  position: absolute;
  width: 100px;
  height: 30px;
  top: 7px;
  left: 226px;
  display: block;
  color: var(--white);
  text-align: center;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}
.main-nav-container {
  width: 277px;
  height: 103px;
  padding-left: 23px;
  padding-top: 20px;
  padding-bottom: 0px;
  position: relative;
}
.title-item-container {
  margin: 0;
  font-family: "Cuprum bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 15px;
  color: var(--white);
}
.catalog-left-image {
  font-size: 0px;
  width: 78px;
  height: 72px;
  top: 29px;
  right: 27px;
  position: absolute;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.catalog-center-image {
  font-size: 0px;
  width: 78px;
  height: 72px;
  top: 29px;
  right: 29px;
  position: absolute;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.item-description {
  min-width: 135px;
  margin-right: 14px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.item-description:hover {
  background-color: rgba(110, 110, 110, 0.1);
}
.item-description:active {
  background-color: rgba(110, 110, 110, 0.3);
}
.descr-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  color: var(--white);
}
.catalog-right-image {
  font-size: 0px;
  width: 78px;
  height: 72px;
  top: 27px;
  right: 31px;
  position: absolute;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom-main-nav {
  display: flex;
}

/* Слайдер */

.slider {
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
}
.slide-drill {
  display: none;
  width: 620px;
  height: 266px;

  background-image: url(../img/drill.jpg);
  background-repeat: no-repeat;
}
.slide-hummer {
  display: none;
  width: 620px;
  height: 266px;
  position: relative;
  background-image: url(../img/hummer.jpg);
  background-repeat: no-repeat;
}
.slider-title {
  padding-top: 23px;
  padding-left: 25px;
  padding-bottom: 17px;
  background-color: rgba(0, 0, 0, 0.25);
  color: var(--white);
}

.slide-heading {
  margin: 0;
  padding-bottom: 5px;
  font-family: "Cuprum bold", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.slide-description {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
.slider-btn {
  margin-top: 96px;
  margin-left: 25px;
  padding: 10px 46px;
}
.slider-arrow {
  border: none;
}
.slider-arrow-left {
  position: absolute;
  top: 122px;
  left: 19px;
  background-color: rgba(0, 0, 0, 0);
}
.slider-arrow-right {
  position: absolute;
  top: 122px;
  right: 14px;
  background-color: rgba(0, 0, 0, 0);
}
.slider-pagination {
  list-style-type: none;
  position: absolute;
  bottom: 24px;
  left: 289px;
  transform: rotate(90deg);
}
.slider-pagination-item {
  margin-top: 9px;
  background-color: var(--white);
  width: 7px;
  height: 7px;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
}
.active-slide {
  background-color: var(--basic-red);
}

/*  */

.bottom-aside-container {
  margin-top: 20px;
}

.catalog-top-image {
  font-size: 0px;
  width: 78px;
  height: 72px;
  top: 27px;
  right: 35px;
  position: absolute;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.catalog-bottom-image {
  font-size: 0px;
  width: 78px;
  height: 72px;
  top: 29px;
  right: 31px;
  position: absolute;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.color-yellow-yellow {
  background-color: var(--warning);
}
.color-yellow-light {
  background-color: var(--special-yellowlight);
}
.color-blue {
  background-color: var(--special-blue);
}
.color-lilac {
  background-color: var(--special-lilac);
}
.color-green {
  margin-bottom: 20px;
  background-color: var(--special-greenlight);
}
.color-yellow {
  background-color: var(--special-yellow);
}
.main-popular-goods {
  width: 940px;
  margin: auto;
  margin-top: 59px;
}
.header-text {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--yellow-grey);
  margin-bottom: 20px;
}
.header-text h2 {
  margin: auto;
  margin-left: 28px;
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.popular-text a {
  width: 192px;
  margin-right: 14px;
}
.popular-goods-wrapp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-popular-manufacturer {
  width: 940px;
  margin: auto;
  margin-top: 53px;
}
.manufacturer-text a {
  width: 192px;
  margin: 0;
  margin-right: 19px;
}
.main-manufacturer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.manufacturer-link {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--yellow-grey);
  box-sizing: border-box;
}
.manufacturer-link:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.manufacturer-link:active {
  opacity: 0.3;
}
/* Сервисы */

.main-container-services {
  margin-top: 50px;
  background-color: var(--basic-background);
}
.services-container {
  width: 940px;
  margin: auto;
  position: relative;
  padding-top: 67px;
}
.services-container h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 28px;
}
.service-heading {
  margin-bottom: 52px;
}
.service-heading p {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}
.top-description-services {
  padding-top: 23px;
  padding-bottom: 2px;
}
.text-services {
  font-size: 13px;
  line-height: 25px;
}
.tabs-nav {
  position: relative;
}
.tabs-nav ul {
  width: 240px;
  padding: 0;
  list-style: none;
  cursor: pointer;
}
.tab-1,
.tab-2,
.tab-3 {
  padding: 20px 22px;
  color: var(--white);
  background-color: var(--nav-blue);
  font-family: "Cuprum bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 22px;
}
.tab-1:hover:not(.active-list),
.tab-2:hover:not(.active-list),
.tab-3:hover:not(.active-list) {
  background-color: var(--dark-grey);
}
.tab-container {
  display: flex;
}
.tab-container::after {
  content: "";
  width: 10px;
  height: 279px;
  bottom: 55px;
  left: 230px;
  position: absolute;
  background-image: url(../img/shadow-services.png);
}
.tabs-content {
  display: flex;
  margin-left: 80px;
}
.tab1 {
  min-height: 285px;
  padding-right: 345px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 151px 37px;
}
.tab2 {
  min-height: 285px;
  padding-right: 305px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 238px 15px;
}
.tab3 {
  min-height: 285px;
  min-width: 290px;
  padding-right: 340px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 165px 15px;
}
.tab1,
.tab2,
.tab3 {
  padding-top: 18px;
  display: none;
}
.delivery-description {
  padding-top: 15px;
}
.guarantee-description {
  padding-top: 10px;
}
.credit-description {
  padding-top: 15px;
}
.credit-btn {
  margin-top: 12px;
  padding: 11px 45px;
}
.active-list {
  color: var(--nav-blue);
  background-color: var(--white);
}

/*  */

.main-bottom-container {
  width: 940px;
  margin: auto;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.left-info-container {
  width: 478px;
}
.info-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
}
.info-text {
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0;
}
.main-info-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
}
.left-info-container ul {
  margin: 0;
  padding-left: 37px;
  list-style: none;
  color: var(--black);
}
.main-info-item {
  position: relative;
}
.main-info-item span {
  display: inline-block;
  padding-bottom: 13px;
}
.main-info-item span::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 12px;
  left: -37px;
  background-color: var(--basic-red);
}
.left-info-container a {
  margin-top: 5px;
  padding: 10px 40px;
}
.right-info-container {
  width: 300px;
}
.right-info-container img {
  margin-top: 32px;
}
.right-info-container a {
  padding: 10px 61px;
  margin-top: 22px;
}

/* Каталог */

.catalog-main-container {
  width: 940px;
  margin: auto;
 
}
.way-to-catalog ul {
  margin: 0;
  padding: 16px 40px;
  position: relative;
  display: flex;
  list-style: none;
  margin-bottom: 3px;
}
.way-to-catalog ul::before {
  content: "";
  width: 14px;
  height: 12px;
  top: 24px;
  left: 3px;
  position: absolute;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  color: var(--white);
}
.top-way-item {
  padding-left: 19px;
  margin-right: 23px;
  position: relative;
}
.top-way-item::before {
  content: "";
  width: 14px;
  height: 12px;
  top: 8px;
  left: -7px;
  position: absolute;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  color: var(--white);
}
.top-way-item a {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--black);
}
.catalog-head-container {
  margin: auto;
  margin-bottom: 20px;
  padding: 6px 33px;
  background-color: var(--light-grey);
}
.heding-text {
  padding: 7px 0;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.main-catalog {
  display: flex;
}

/* Фильтр товаров */

.form-header {
  margin-left: 5px;
  padding-left: 17px;
  width: 200px;
  font-size: 13px;
  line-height: 36px;
  background-color: var(--background-filter);
  border-radius: 5px;
  text-transform: uppercase;
}
.filter legend {
  font-family: "PT Sans bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
}
.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

/* Тоглы */

.range-filter {
  width: 220px;
  margin-bottom: 20px;
  position: relative;
}
.price-filter {
  padding-left: 5px;
  margin-top: 15px;
  font-family: "PT Sans bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.range-controls {
  width: 170px;
  position: relative;
  height: 41px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 8px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 30px;
  background-color: var(--background-filter);
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: var(--greylight);
}
.range-controls .bar {
  width: 100%;
  height: 2px;
  background: var(--special-greenlight);
}
.range-controls .toggle {
  max-width: 220px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--darker-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-greylight);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 6px;
}
.range-controls .toggle-max {
  left: 10px;
}
.form-container fieldset {
  border: none;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}
.price-controls input {
  width: 75px;
  padding: 10px;
  padding-left: 16px;
  margin-left: 5px;
  padding-right: 2px;
  text-align: center;
  color: var(--black);
  border: none;
  border-radius: 5px;
  background: var(--background-filter);
}
.max-price input {
  padding-left: 20px;
  margin-left: 10px;
  padding-right: 0px;
}
.min-price {
  margin-right: 20px;
}
.price-controls::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  bottom: 18px;
  right: 100px;
  background-color: var(--black);
}

/*  */
/* Фильтр/чекбоксы и радио/ */

.fieldset-container {
  padding-top: 24px;
  position: relative;
}
.fieldset-container label {
  font-size: 15px;
 
}
.fieldset-container:disabled {
  opacity: 0, 8;
}
.checkbox {
  padding-left: 2px;
  padding-top: 19px;
  padding-bottom: 30px;
}
.checkbox::before {
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  background-color: var(--border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-item {
  padding-left: 35px;
  margin-bottom: 21px;
  opacity: 0.7;
}
.input-item:hover:not(.disabled) {
  opacity: 1;
}
.input-item label {
  position: relative;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}
.filter-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;
  width: 25px;
  height: 23px;
  background-color: var(--white);
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.radio {
  padding-left: 0px;
  margin-left: 4px;
  margin-bottom: 6px;
}
.radio legend {
  margin-bottom: 22px;
}
.radio::before {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 140px;
  left: 0;
  position: absolute;
  display: block;
  background-color: var(--border);
}
.filter-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
}
.filter-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter button {
  width: 220px;
  margin-left: 4px;
  padding: 10px 78px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--white);
  border: 1px solid var(--greylight);
}
.filter button:active {
  opacity: 0.3;
}
.disabled {
  opacity: 0.3;
}

/*  */
/* Каталог товаров */

.catalog-item-list {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sorting {
  width: 700px;
  padding: 12px 0;
  padding-top: 6px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-filter);
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.sorting button {
  opacity: 0.3;
}
.sorting-text {
  
  margin-left: 20px;
}
.sorting-buttons {
 margin-left: 130px;
}
.sorting-button {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--background-filter);
  border: none;
  cursor: pointer;
}
.sorting-button-price {
  margin-right: 45px;
}
.sorting-button-function {
  margin-left: 45px;
}
.sorting-button:hover {
  border: none;
}
.sorting-button:active {
  color: var(--basic-red);
}
.sorting-button span {
  border-bottom: 1px dotted var(--basic-red);
  text-transform: uppercase;
}

.buttons-direction {
  margin-right: 10px;
}
.to-up {
  margin-right: 5px;
  margin-left: 30px;
}
.sorting-buttons span:hover {
  border-bottom: 1px solid var(--basic-red);
}
.sorting-buttons span:active {
  border: none;
}
.buttons-direction button {
  fill: var(--black);
  border: none;
  background-color: var(--background-filter);
  cursor: pointer;
}
.buttons-direction button:hover,
.sorting-button:hover {
  opacity: 1;
}
.buttons-direction button:active {
  fill: var(--basic-red);
}

/* Контейнер катрочки товара */

.product-item-container {
  width: 220px;
  margin-bottom: 19px;
  border: 1px solid var(--border);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.product-item {
  width: 157px;
  margin: auto;

  text-align: center;
}
.product-6000 {
  padding-top: 21px;
  padding-right: 9px;
}
.product-3000 {
  padding-top: 26px;
  padding-right: 12px;
  padding-bottom: 10px;
}
.product-2000 {
  padding-top: 25px;
  padding-right: 13px;
  padding-bottom: 12px;
}
.new-container::after {
  content: "new";
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  position: absolute;
  width: 100px;
  height: 30px;
  top: 7px;
  left: 144px;
  z-index: 100;
  display: block;
  color: var(--white);
  text-align: center;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}
.hover-container-item {
  position: absolute;
  top: 17px;
  left: 0;
  right: 0;
  height: 130px;
  padding: 20px 40px;
  padding-bottom: 0;
  z-index: 100;
  background: var(--white);
  display: none;
}
.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  margin-bottom: 10px;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px;
}
.buy:hover {
  background-color: var(--success);
}
.buy:active {
  background-color: var(--buy-active);
}
.buy-product-link {
  width: 135px;
   padding-right: 8px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}
.buy-product-link svg {
  padding-right: 3px;
  opacity: 0.3;
}
.bookmark {
  display: flex;
  
  justify-content: center;
  width: 129px;
  height: 32px;
  border: 3px solid var(--basic-green);
}
.bookmark:hover {
  border-color: var(--nav-blue);
}
.bookmark:active {
  opacity: 0.3;
}
.in-bookmarks-link {
  padding-bottom: 2px;
}
.product-item-container:hover .hover-container-item {
  display: block;
}
.product-item-container:hover,
.product-item-container:active,
.product-item-container:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.in-bookmarks-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-grey);
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.title-item {
  margin-bottom: 3px;
}
.title-item-link {
  font-family: "PT Sans bold", Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 3px;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}
.price-item-crossed {
  display: block;
  min-height: 24px;
  margin-bottom: 10px;
  font-family: "PT Sans bold", Arial, sans-serif;
  font-size: 17px;
  text-decoration: line-through;
  color: var(--darker-grey);
}
.price-product {
  height: 38px;
  width: 141px;
  height: 38px;
  margin: auto;
  padding-top: 5px;
  margin-bottom: 15px;
  margin-left: 13px;
  display: block;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
}
.price-product a {
  margin-top: 5px;
  padding-right: 10px;
  font-family: "PT Sans bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
}

/* Список страниц */

.container-list {
  margin-top: 16px;
}
.container-list ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}
.page-list-link {
  padding: 10px 16px 11px 13px;
  color: var(--black);
  border: 1px solid var(--basic-greylight);
  margin-right: 10px;
  border-radius: 5px;
  font-size: 13px;
  line-height: 18px;
}
.page-list-item:last-child .page-list-link{
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}
.page-list-link:hover:not(.curent-page) {
  border-color: var(--border-second);
}
.page-list-link:active:not(.curent-page) {
  border-color: var(--basic-red);
}
.curent-page {
  background-color: var(--basic-red);
  color: var(--white);
}

/* О перфораторах */

.main-bottom-section {
  margin-top: 51px;
  background-color: var(--basic-background);
}
.main-bottom-content {
  margin: auto;
  max-width: 940px;
  padding-top: 40px;
  padding-bottom: 69px;
}
.heading-main-bottom {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.main-bottom-section p {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

/* Подвал сайта */

.footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.footer-top {
  background-color: var(--nav-blue);
  list-style-type: none;
  padding-bottom: 20px;
}
.footer-top-container {
  width: 940px;
  margin: auto;
  display: flex;
}
.footer-logo {
  padding: 11px 0px;
}
.footer-logo img {
  top: 20px;
  left: 40px;
}
.footer-info {
  margin: 0 auto;
  margin-right: 0;
}
.footer-info ul {
  margin-top: 37px;
  display: flex;
  list-style: none;
}
.footer-info-item {
  margin-left: 59px;
}
.footer-info-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.footer-middle-container {
  width: 940px;
  margin: auto;
  display: flex;
}
.footer-phone {
  display: block;
}
.footer-equip {
  margin: auto;
  margin-bottom: 36px;
  margin-right: 0;
}
.footer-equip ul {
  margin-top: 18px;
  display: flex;
  list-style: none;
}
.footer-equip-item:not(:first-child) {
  margin-left: 60px;
}
.footer-equip-link {
  font-size: 18px;
  line-height: 24px;
}
.footer-equip-link:hover,
.footer-info-link:hover {
  text-decoration: underline;
}
.footer-equip-link:active,
.footer-info-link:active {
  text-decoration: none;
  opacity: 0.3;
}
.footer-contacts {
  margin-top: 13px;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}
.footer-equip a {
  color: var(--special-yellowlight);
}
.footer-bottom {
  padding-top: 5px;
  padding-bottom: 2px;
  background-color: var(--dark-grey);
}
.footer-bottom-container {
  width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-rights {
  color: var(--white);
}
.social-list {
  margin-top: 30px;
  display: flex;
  list-style: none;
}
.social-list svg {
  fill: var(--dark-blue);
}
.social-list svg:hover {
  fill: var(--basic-red);
}
.social-list svg:active {
  fill: var(--basic-red);
}

/* Разработчик */

.footer-developer {
  display: flex;
  margin-right: 12px;
}
.footer-developer a {
  color: var(--special-yellow);
}
.footer-developer span {
  display: block;
  color: var(--basic-background);
}
.footer-developer div:first-child {
  margin-right: 53px;
}
.creator a:hover {
  text-decoration: underline;
}
.creator a:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Попап Главной страници */

.popup-order {
  width: 620px;
  position: fixed;
  top: 580px;
  left: 0;
  right: 0;
  bottom: 2100px;
  margin: auto;
  display: none;
  z-index: 100;
  background-color: var(--white);
  border-top: 5px solid var(--basic-red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.popup-close-btn {
  width: 22px;
  top: 20px;
  right: 20px;
  position: absolute;
  background-color: var(--white);
  border: none;
}
.popup-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  border-top: 3px solid var(--basic-red);
  background-color: var(--white);
}
.popup-input label,
.popup-input-text label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 44px;
}
.popup-container input {
  width: 220px;
  padding-left: 12px;
  line-height: 38px;
  display: block;
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
}
.popup-container input::-webkit-input-placeholder {
  font-size: 13px;
}
.popup-container input::-moz-placeholder {
  font-size: 13px;
  line-height: 35px;
}
.popup-input-text label {
  margin-left: 80px;
}
.popup-input-text textarea {
  width: 460px;
  height: 114px;
  font-size: 13px;
  line-height: 34px;
  padding-left: 12px;
  margin: auto;
  margin-bottom: 37px;
  display: block;
  resize: none;
  border: 1px solid var(--basic-greylight);
}
.popup-button-container {
  padding: 40px;
  text-align: center;
  background-color: var(--popup-bg);
}
.popup-button-container button {
  width: 460px;
  border: none;
}

/* Попап каталога */

.popup-catalog {
  display: none;
  width: 620px;
  height: 260px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  border-top: 5px solid var(--basic-red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.popup-top {
  padding: 20px;
  background-color: var(--white);
  position: relative;
}
.modal-close-icon {
  top: 10px;
  right: 10px;
  position: absolute;
  background-color: var(--white);
  border: none;
}
.popup-top h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cuprum bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.popup-top h3::before {
  content: "";
  width: 66px;
  height: 66px;
  margin-right: 20px;
  background-image: url("../img/icon-mark.svg");
}
.popup-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--basic-background);
}
.popup-footer a {
  margin: 10px;
  padding: 15px 35px;
}
.popup-footer a:last-child {
  color: var(--black);
  background-color: var(--white);
}

/* Карта */

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);

  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-map {
  width: 943px;
  height: 449px;
  border-top: 3px solid var(--basic-red);
}
.nodal-map img {
  display: block;
}
.modal-map iframe {
  border: none;
}

/* Активатор скрытых действий */

.active {
  display: block;
}
